{% set recipes = site
	.find('recipes')
	.children()
	.listed()
	.limit(4)
	.sortBy('date', 'desc') %}

{% set drinks = site
	.find('drinks')
	.children()
	.listed()
	.limit(4)
	.sortBy('date', 'desc') %}

<nav class="footer__section --recipes">
	<h4 class="footer__title highlight --yellow">Newest Recipes</h4>
	<ul class="recipe-list reading">
		{% for recipe in recipes %}
			<li class="recipe-item highlight --yellow"><a href="{{ recipe.url }}" title="{{ recipe.title }}" aria-title="{{ recipe.headline }}">{{ recipe.headline | length > 54 ? recipe.headline | slice(0, 54) ~ '...' : recipe.headline }}</a></li>
		{% endfor %}
		<li class="recipe-item highlight --yellow"><a href="{{ site.url }}/recipes" title="Show all recipes" aria-title="Show all recipes"><em>Show all recipes</em></a></li>
	</ul>
</nav>

<nav class="footer__section --drinks">
	<h4 class="footer__title highlight --yellow">Newest Drinks</h4>
	<ul class="drink-list reading">
		{% for drink in drinks %}
			<li class="drink-item highlight --yellow"><a href="{{ drink.url }}" title="{{ drink.title }}" aria-title="{{ drink.headline }}">{{ drink.title | length > 54 ? drink.title | slice(0, 54) ~ '...' : drink.title }}</a></li>
		{% endfor %}
		<li class="drink-item highlight --yellow"><a href="{{ site.url }}/drinks" title="Show all drinks" aria-title="Show all drinks"><em>Show all drinks</em></a></li>
	</ul>
</nav>

<section class="footer__section --copy">
	<h4 class="footer__title --hide-text">About this website</h4>
	<p class="highlight --yellow">
		&copy; {{ 'now' | date('Y') }} <a href="{{ site.url }}/about">{{ site.title }}</a> | A shared cookbook of recipes
		<br/>
		Project of <a href="https://onemohrti.me" target="_blank" rel="nofollow noreferrer">Derek</a> &amp; <a href="https://owielanctot.com" target="_blank" rel="nofollow noreferrer">Owie</a>
	</p>
	<hr class="hr--gold" />
</section>

<nav class="footer__section --social">
	<ul class="social">
		<li><a href="{{ site.url }}/terms-of-use" class="highlight --yellow">Terms of Use</a> | <a href="{{ site.url }}/privacy-policy" class="highlight --yellow">Privacy Policy</a></li>
	</ul>
</nav>
