{% set allDrinksSegment   = kirby.request.url.props.path ?? null %}
{% set singleDrinkSegment = kirby.request.url.props.path[1] ?? null %}
{% set isDrink            = allDrinksSegment | length > 1 ? true : false %}

{% if page.template == 'drinks' %}

	<div id="modalClose" class="page__overlay{% if isDrink %} --is-modal{% endif %}"></div>
	
	{% block modal %}

		{% if isDrink %}
			{% set drink       = page.find(slug) %}
			{% set drinkParent = drink.parent().url %}
			{% set nextDrink   = drink.nextListed().url ?? null %}
			{% set prevDrink   = drink.prevListed().url ?? null %}

			<div id="{{ drink.uid }}" class="modal --is-modal">
				
				<h3 class="modal__headline headline" data-title="{{ drink.headline | default(drink.title) }}">{{ drink.headline | default(drink.title) }}</h3>
				
				<div class="modal__description">
					<p>{{ drink.description }}</p>
				</div>
				
				<figure class="modal__image">
					<img src="https://loremflickr.com/1000/1000/drink,bar/all" />
					<figcaption></figcaption>
				</figure>
				
				<div class="modal__ingredients">
					<h4>Ingredients</h4>
					<ul>
						<li>Item #1</li>
						<li>Item #2</li>
						<li>Item #3</li>
					</ul>
				</div>
				
				<div class="modal__directions">
					<h4>Directions</h4>
					<ol>
						<li>Item #1</li>
						<li>Item #2</li>
						<li>Item #3</li>
					</ol>
				</div>

				<div class="modal__actions">
					<a href="{{ drinkParent }}" class="button">All Drinks</a>
					{% if nextDrink %}<a href="{{ nextDrink }}">Next</a>{% endif %}
					{% if prevDrink %}<a href="{{ prevDrink }}">Prev</a>{% endif %}
				</div>
			</div>
		{% endif %}

	{% endblock %}
	{#
	<section class="page__modals">
		{% if drinks is defined and drinks is not empty %}
			{% for drink in drinks %}
				{% block modal %}
				{% endblock %}
			{% endfor %}
		{% endif %}
	</section>
	#}
	

{% endif %}
