<!doctype html>
<html lang="{{ site.language() }}">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{ htmlTitle | default('No title') }}</title>

	{{ css(['assets/css/index.css', '@auto']) }}

	<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png" />
	<link rel="manifest" href="/site.webmanifest" />
	<link rel="mask-icon" href="/assets/img/favicons/safari-pinned-tab.svg" color="#ff6f4f" />
	<meta name="msapplication-TileColor" content="#ff6f4f" />
	<meta name="theme-color" content="#2b3b4c" />
</head>

<body>
	<div class="page{{ pageClass ?? null }}">

		{% include '@snippets/skipToContent.twig' %}

		<header id="mainNav" class="nav page__header">
			<a class="nav__logo menu__item" href="{{ site.url }}" aria-label="Home"><span data-title="Home">{{ site.title }}</span></a>

			{# When activated, search appears over nav #}
			{% include '@snippets/searchForm.twig' %}

			{# Main site mobile and desktop navigation #}
			{% include '@snippets/navigation.twig' %}
		</header>

		<main id="mainContent" class="page__body{% if mainClass is defined and mainClass is not null %} {{ mainClass }}{% endif %}">
			{% block content %}
			{% endblock %}
		</main>

		{% include '@snippets/modalSection.twig' %}

		<footer class="page__footer">
			{% include '@snippets/footer.twig' %}
		</footer>

	</div>

	{# Load necessary vendor libraries #}
	{% block scripts %}
	{% endblock %}
	{#
	{{ js('assets/js/main.js') }}
	{{ js('assets/js/main.js', true) }} : Async Example
	{{ js('assets/js/site.js', ['async' => true, 'defer' => true, 'data-something' => 'my-value']) }} : Defer Example
	#}
	{{ js('assets/js/main.js') }}
	{# Autoloading template specific script files #}
	{{ js('@auto', true) }}

</body>

</html>
