{% extends '@templates/default.twig' %}
{% set htmlTitle = page.title ~ ' - ' ~ site.title %}

{% set recipes = site
	.find('recipes')
	.children()
	.sortBy('date', 'desc') %}

{% block content %}
	<article class="homepage__grid">
		
		<header class="homepage__intro intro">
			<h1 class="--hide-visually">{{ site.title }}</h1>
			<h2 class="homepage__headline headline" data-title="{{ page.headline }}">{{ page.headline }}</h2>
			<p class="homepage__subheadline">text</p>
			<a href="#searchToggle" class="button">button</a>
		</header>
		
		<section class="homepage__promos">
			<aside id="homeBored" class="bored">
				<h2 class="bored__headline headline">{{ page.subheadline | length > 0 ? page.subheadline : 'Browse' }}</h2>
				
				{% set left      = page.left.related.toPage() %}
				{% set leftCover = left.cover.toFile() %}
				{% set right      = page.right.related.toPage() %}
				{% set rightCover = right.cover.toFile() %}
				
				<a href="{{ left.url }}" class="bored__link crosshair__trigger">
					<h3 class="left-link__headline">
						Browse Food Recipes
					</h3>
					<figure class="crosshair"></figure>
					<div class="left-link__description">
						{{ left.description | raw }}
					</div>
					{% if leftCover is defined and leftCover is not empty %}
						<img src="{{ leftCover.url }}"
							 alt="{{ leftCover.name }}"
							 width="{{ leftCover.dimensions.width }}"
							 height="{{ leftCover.dimensions.height }}"
							 id="img-{{ leftCover.hash }}"
							 class="left-link__cover"
							 srcset="{{ leftCover.srcset([400, 800, 1200, 1600]) }}" />
					{% endif %}
				</a>
				
				<a href="{{ right.url }}" class="bored__link crosshair__trigger">
					<h3 class="right-link__headline">
						Browse Drinks &amp; Cocktails
					</h3>
					<figure class="crosshair"></figure>
					<div class="right-link__description">
						{{ right.description | raw }}
					</div>
					{% if rightCover is defined and rightCover is not empty %}
						<img src="{{ rightCover.url }}"
							 alt="{{ rightCover.name }}"
							 width="{{ rightCover.dimensions.width }}"
							 height="{{ rightCover.dimensions.height }}"
							 id="img-{{ rightCover.hash }}"
							 class="right-link__cover"
							 srcset="{{ rightCover.srcset([400, 800, 1200, 1600]) }}" />
					{% endif %}
				</a>
			</aside>
			
			<aside id="homeFeature" class="feature">
				<h3 class="feature__headline">Food Category</h3>
				<div class="feature__description">category</div>
				<a href="#" class="feature__link">Link</a>
			</aside>
		</section>
		
		<section id="homeCategory" class="hompage__category">
			<h3 class="category__headline headline" data-title="Food Category">Food Category</h3>
			<ul class="category__list">
				<li><a href="#">Recipe</a></li>
				<li><a href="#">Recipe</a></li>
				<li><a href="#">Recipe</a></li>
				<li><a href="#">Recipe</a></li>
			</ul>
		</section>

	</article>
{% endblock %}
