{% extends '@templates/default.twig' %}

{% set recipes = site
	.find('recipes')
	.children()
	.listed()
	.sortBy('date', 'desc') %}

{% block content %}
	<header class="page__intro intro">
		<h1>{{ page.headline | default(page.title) }}</h1>
		
		{% if page.description is defined and page.description is not empty %}
			{{ page.description.kirbytext | raw }}
		{% endif %}
	</header>

	{% if recipes is defined and recipes is not empty %}
	<ul class="page__recipes">
		{% for recipe in recipes %}
		<li class="recipe">
			<a href="{{ recipe.url }}" class="recipe__image">
				<figure>
					<img src="http://lorempixel.com/g/500/400/food/{{ loop.index }}" />
					<figcaption>{{ recipe.title }}</figcaption>
				</figure>
			</a>
		</li>
		{% endfor %}
	</ul>
	{% else %}
		<p>No recipes :(</p>
	{% endif %}
{% endblock %}
