{% extends '@templates/default.twig' %}
{% set mainClass = 'recipe' %}

{% block content %}
	<article class="recipe__grid">

		<header class="recipe__header intro">
			<h1 class="recipe__headline headline">{{ page.headline | default(page.title) }}</h1>
			
			{% if page.description is defined and page.description is not empty %}
				<div class="recipe__subheadline">{{ page.description.kirbytext | raw }}</div>
			{% endif %}
		</header>
		
		<figure class="recipe__cover">
			<img src="http://lorempixel.com/960/450/food" />
			<figcaption>
			</figcaption>
		</figure>

		<section id="ingredients" class="recipe__ingredients">
			<div class="ingredients">
				<h2 class="ingredients__title">Ingredients</h2>

				{% if page.ingredients is defined and page.ingredients is not empty %}
					{{ page.ingredients.kirbytext | raw }}
				{% endif %}
			</div>
		</section>
		
		<section id="directions" class="recipe__directions">
			<h2 class="directions__title">Directions</h2>
			
			{% if page.directions is defined and page.directions is not empty %}
				{{ page.directions.kirbytext | raw }}
			{% endif %}
		</section>
		
		{% if page.tags is defined and page.tags is not empty %}
			<section class="recipe__tags">
				<h3 class="tags__title">Related</h3>
				<p>{{ page.tags }}</p>
			</section>
		{% endif %}
		
	</article>
{% endblock %}
